.jumbotron {
    background-color: #0099cc;
    /* font-family: 'Pacifico', cursive; */
}

body {
    background-color: #99ccff;
}

.btn {
    background-color: #ff6600;
}

.btn:hover {
    background-color: #0099cc;
}

.footer {
    background-color: #0099cc;
    width: 100%;
    padding: 20px;
    margin: 0;
    position: absolute;
    bottom: 0;
}

h1, h2 {
    font-family: 'Barriecito', cursive;
}

